header {
  background-image: url("../images/crystals\ jumbotron\ bg.jpg");
  background-size: cover;
  background-position: bottom;
}

header {
  text-shadow: 2px 2px 4px black;
}

header .display-3 {
  color: #dddddd;
  font-weight: bold;
}

hr {
  border: 1px solid #dddddd;
}

header h5 {
  color: #dddddd;
}